* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 1.6rem;
}

#main {
    width: 100%;
}

#menu-mobile {
    background-color: cadetblue;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#menu-mobile > a {
    width: auto;
    padding: 1rem;
    margin-left: 2rem;
    text-decoration: none;
    color: grey;
    border-radius: 20px;
    background-color: #EEEDED;
    transition: background-color;
    transition-duration: 1s;
}

#menu-mobile > a:hover {
    background-color: #50C3D4;
}

.ligne {
    display: none;
    border-top: 1px solid white;
    width: 100px;
}

@media screen and (max-width: 600px) {

    #main {
        padding: 0;
    }

    #menu-mobile {
        width: 100%;
        top: 0;
        left: 0;
        flex-direction: column;
    }

    #menu-mobile > a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: cadetblue;
        color: white;
    }

    .ligne {
        display: flex;

    }
}