* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 1.6rem;
}

#main {
    width: 100%;
}

#menu-mobile {
    background-color: cadetblue;
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#menu-mobile span {
    color: white;
    display: none;
}

#menu-mobile:hover span {
    transform: rotate(90deg);
    transition-property: transform;
}

#menu-mobile > a {
    width: auto;
    padding: 1rem;
    margin-left: 2rem;
    text-decoration: none;
    color: grey;
    border-radius: 20px;
    background-color: #EEEDED;
    transition: background-color;
    transition-duration: 1s;
}

#menu-mobile > a:hover {
    background-color: #50C3D4;
}

@media screen and (max-width: 600px) {

    #menu-mobile {
        width: 100%;
        top: 0;
        left: 0;
        flex-direction: column;
    }

    #menu-mobile > a {
        display: none;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #menu-mobile {
        align-items: flex-start;
        padding-left: 2rem;
    }

    #menu-mobile span {
        display: inline-flex;
    }

    #menu-mobile:hover a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }
}